<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8">
	
	<meta name="robots" content="index,follow">
	<meta name="description" content="Продажа элитной недвижимости в Москве и Подмосковье. От роскошного пентхауса – до коттеджа в элитном поселке. Услуги для покупателя без комиссии.">
	<meta name="keywords" content>
	<meta name="yandex-verification" content="446d31d734e4f5eb">
	<link rel="stylesheet" href="main_files/content0.css" type="text/css" media="all">
	<link rel="stylesheet" href="main_files/main0000.css" type="text/css" media="all">
	<link rel="stylesheet" href="upd.css" type="text/css" media="all">
	<link rel="shortcut icon" href="main_files/favicon0.ico">
	<script src="main_files/prototyp.js" type="text/javascript"></script>
	<script src="main_files/scriptac.js" type="text/javascript"></script>
	<script src="main_files/main0000.js" type="text/javascript"></script>   
 	<script src="main_files/lots0000.js" type="text/javascript"></script>
 	<script src="main_files/common00.js" type="text/javascript"></script>  
	<script src="main_files/swfobjec.js" type="text/javascript"></script>
 	<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "/swf/expressInstall.swf");
	</script>  

    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="upd.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all"/>
	<![endif]-->
	<title>Элитная недвижимость Москвы| Агентство элитной недвижимости CONTACT Real Estate</title>
	
	<style>
	.tdrt{
		text-align:right;
	}
	.in_cat td{
		padding:5px 2px;
		vertical-align: middle;
	}
	.table-content td:first-child {
    font-weight: bold;
    padding-right: 10px;
    width: auto;
	}
	</style>

</head>
<body>
<div class="minwidth">
   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="header">
	<div id="top">
		<h1 class="top_logo">Агентство элитной недвижимости Contact Real Estate</h1>
		<strong>Времена меняются и мы меняемся вместе с ними</strong>
		<span>+7 (495) 956 77 99</span>
	</div>
	<div class="visual">
 	</div>
    <!-- UPD -->
    <div class="upd-menu">
        <ul class="upd-menu-box">
            <li class="upd-menu-item"><a href="#">О компании</a></li>
            <li class="upd-menu-item"><span>Услуги</span></li>
            <li class="upd-menu-item"><a href="#">Предложения</a></li>
            <li class="upd-menu-item"><a href="#">Аналитика</a></li>
            <li class="upd-menu-item"><a href="#">Полезные советы</a></li>
            <li class="upd-menu-item"><a href="#">Контакты</a></li>
            <li class="upd-menu-item"><a href="#">Карьера</a></li>
            <li class="upd-menu-item"><a href="#"><span class="upd-menu-item-request"></span>Оставить заявку</a></li>
        </ul>
    </div>
    <!-- /UPD -->
</div>
<div class="hide_block_top"></div>
<div class="page">
<div class="lside"><div class="padding">
	<h2 class="title_h2 h2_offers">Наши предложения</h2>
    <span class="upd-lside-title">Новые</span>
	<div class="separator"></div>
	<ul class="ul_list">
 		<li><a href="http://www.kre.ru/offers/eliteflat/" class="active">Элитные квартиры</a><span>460<span class="upd-lside-count">130</span></span></li>
        <li class="upd-ul-sublist">
            <ul>
            	<li><a href="#">Арбат</a><span>10<span class="upd-lside-count">1</span></span></li>
            	<li><a href="#">Патриаршие пруды</a><span>1<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Тверской</a><span>3<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Сретенка</a><span>7<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Чистые пруды</a><span>29<span class="upd-lside-count">3</span></span></li>
            	<li><a href="#">Таганское</a><span>45<span class="upd-lside-count">15</span></span></li>
            	<li><a href="#">Замоскворечье</a><span>24<span class="upd-lside-count">2</span></span></li>
            	<li class="upd-ul-sublist-more"><a href="#">еще</a></li>
            </ul>
        </li>
        <li><a href="http://www.kre.ru/offers/elitenew/">Элитные новостройки</a><span>74<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/penthouse/">Пентхаусы</a><span>51<span class="upd-lside-count">31</span></span></li>
        <li><a href="http://www.kre.ru/offers/flatrent/">Квартиры в аренду</a><span>596<span class="upd-lside-count">77</span></span></li>
        <li><a href="http://www.kre.ru/offers/outoftown/">Загородный дом, участок</a><span>887<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/cottage/">Коттеджи в аренду</a><span>38<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comsell/">Коммерческая недвижимость</a><span>418<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comrent/">Коммерческая недвижимость в аренду</a><span>275<span class="upd-lside-count"></span></span></li>
	</ul>

	<div class="catOrder" style="margin:40px 0;">
		<a href="/ordercatalog/"><img src="main_files/link.jpg" alt="Заказать каталог элитной недвижимости"></a>
	</div> 

    <H1 style="FONT-SIZE: 14px">Продажа элитных квартир в&nbsp;Москве</H1>
    <P style="FONT-SIZE: 14px">&nbsp;</P>
    <P align=justify>Что такое элитная недвижимость в Москве? В категорию элитной недвижимости входят как дореволюционные дома и особняки из старого жилого фонда Москвы, так и новые клубные дома в центре и современные жилые комплексы в престижных районах столицы. Агентство элитной недвижимости <STRONG>Contact Real Est</STRONG>ate специализируется на продаже элитной недвижимости в Москве. Специалисты компании <STRONG>Contact Real Estate</STRONG> помогут Вам купить квартиру в центре на самых выгодных для Вас условиях. </P>
    <P align=justify>Элитное жилье в центре Москвы имеет массу преимуществ. Здесь шумные центральные улицы пересекаются с тихими историческими переулками, а памятники культуры и архитектуры соседствуют с модными развлекательными клубами и ресторанами. Купить элитную квартиру на Остоженке, Пречистенке, Арбате или Патриарших прудах – престижно и выгодно. Элитные квартиры в центре Москвы&nbsp; - это современное и в высшей степени комфортное жилье. Это просторные квартиры с продуманной планировкой и качественной внутренней отделкой. Подъезды и придомовые территории оснащены системой видеонаблюдения и круглосуточной охраной. И что немаловажно для столицы, купив квартиру в центре Москвы, Вы сможете легко и быстро перемещаться по деловому центру города, не теряя время в ежедневных пробках.</P>
    
</div></div>
<div class="cside c_full"><div class="padding">
	<p class="print"><a href="javascript:offprint();">Распечатать</a></p>
	<div class="upd-cside-path"><a href="#">Главная</a> <span>/</span> <a href="#">Предложения</a> <span>/</span> Элитные квартиры</div>
    <div class="separator"></div>
    <div id="content" class="content_full">
		<h1 class="upd-title-h1">Элитные квартиры</h1>
		<div class="cat_description"> 
			<p>Всего предложений в разделе «Элитные квартиры»: <strong>455</strong>. Вы можете просматривать по <span id="perPages"><a href=# onclick="return setPerPage(10)">10</a> / <a href="#" onclick="return setPerPage(20)">20</a> / <strong>50</strong></span> объектов<span id="searchphrase">, воспользоваться <a href="#" onclick="showSearch(); return false;">поиском по параметрам</a></span>. Вы также можете выделить некоторые объекты и <a href="#" onclick="viewSelectedOffers(); return false;">просмотреть их отдельным списком</a>, либо <a href="#" onclick="clearSelected(); return false;" id="clearSelected">cнять выделение</a> (в настоящий момент выделенных объектов: <strong id="selectedOffersCount">0</strong>). <span id="slink"></span></p>
		</div>
        <div class="separator"></div>

        <form>
        <div class="upd-form upd-form-search">
            <div class="upd-form-col">
	        	<div class="upd-form-field">
                    <div class="upd-form-label">Номер лота:</div>
                    <div class="select upd-form-select"><div class="select_r_bg">
                        <div class="input"><input type="text" name="lot" value="Введите номер" /></div>
                    </div></div>
	            </div>
	        	<div class="upd-form-field">
                    <div class="upd-form-label">Площадь квартиры:</div>
                    <div class="select upd-form-select upd-form-select-num"><div class="select_r_bg">
                        <div class="input"><input type="text" name="spacefrom" value="от" /></div>
                    </div></div>
                    <div class="select upd-form-select upd-form-select-num"><div class="select_r_bg">
                        <div class="input"><input type="text" name="spaceto" value="до" /></div>
                    </div></div>
                    <span class="upd-form-select-text">м2</span>
	            </div>
	        	<div class="upd-form-field">
                    <div class="upd-form-label">Цена квартиры:</div>
                    <div class="select upd-form-select upd-form-select-num"><div class="select_r_bg">
                        <div class="input"><input type="text" name="pricefrom" value="от" /></div>
                    </div></div>
                    <div class="select upd-form-select upd-form-select-num"><div class="select_r_bg">
                        <div class="input"><input type="text" name="priceto" value="до" /></div>
                    </div></div>
                    <div class="upd-iwant-select"><div class="upd-iwant-select-rbg">
                         <input type="hidden" name="currency" value="0">
                         <div class="upd-iwant-select-control"><table><tr><td>руб.</td></tr></table></div>
                         <ul class="upd-iwant-select-list upd-select-list" style="display: none;">
                             <li id="search_1"><table><tr><td>руб.</td></tr></table></li>
                             <li id="search_2"><table><tr><td>$</td></tr></table></li>
                             <li id="search_3"><table><tr><td>€</td></tr></table></li>
                         </ul>
                     </div></div>
	            </div>
            </div>
            <div class="upd-form-col">
	        	<div class="upd-form-field">
                	<div class="upd-form-label"><br /></div>
	                <span class="upd-form-select-text"><a href="#">Выбрать район</a></span>
				</div>                 
	        	<div class="upd-form-field">
                    <div class="upd-form-label">Адрес:</div>
                    <div class="select upd-form-select upd-form-select-wide"><div class="select_r_bg">
                        <div class="input"><input type="text" name="street" value="Введите" /></div>
                    </div></div>
	            </div>
	        	<div class="upd-form-field">
                    <div class="upd-form-label">Жилой комплекс:</div>
                    <div class="select upd-form-select upd-form-select-wide"><div class="select_r_bg">
                        <div class="input"><input type="text" name="estate" value="Введите" /></div>
                    </div></div>
	            </div>
            </div>
            <div class="upd-form-col upd-form-col-extra">
               	<div class="upd-form-label">Дополнительно:</div>
                <div class="upd-form-checkbox-group">
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="1" id="extra_1" /><label for="extra_1">С отделкой</label>
                    </div>
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="2" id="extra_2" /><label for="extra_2">Без отделки</label>
                    </div>
                </div>
                <div class="upd-form-checkbox-group">
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="3" id="extra_3" /><label for="extra_3">Балкон</label>
                    </div>
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="4" id="extra_4" /><label for="extra_4">Лоджия</label>
                    </div>
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="4" id="extra_5" /><label for="extra_5">Терраса</label>
                    </div>
                </div>
                <div class="upd-form-checkbox-group">
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="5" id="extra_6" /><label for="extra_6">Наземный паркинг</label>
                    </div>
                    <div class="upd-form-checkbox">
                    <input type="checkbox" name="extra" value="6" id="extra_7" /><label for="extra_7">Подземный паркинг</label>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
            
            <div class="upd-form-field upd-form-field-line">
	            <table><tr><td>
	            <div class="upd-form-label">Выводить объявления:</div>
                </td><td>
                <div class="upd-form-checkbox">
                <input type="checkbox" name="withoutprice" value="1" id="withoutprice" /><label for="withoutprice">Учитывать объекты без цены</label>
                </div>
                <div class="upd-form-checkbox">
                <input type="checkbox" name="nobj" value="1" id="nobj" /><label for="nobj">Только новые объекты</label>
                </div>
                <div class="upd-form-checkbox">
                <input type="checkbox" name="nprice" value="1" id="nprice" /><label for="nprice">Только объекты с новой ценой</label>
                </div>
                </td></tr></table>
            </div>
            
            <div class="select select_btn select_left upd-form-submit">
                <div class="select_r_bg"> <span class="select_button">Найти</span>
                  <input type="submit" value="Найти"/>
                </div>
            </div>
            
            <div class="upd-form-reset">
           		<a href="#" class="upd-service">Очистить форму</a>
            </div>
            
            <div class="clear"></div>

        </div>
    </form>		
    
	<div class="separator"></div>
    
    <div class="upd-form-search-result">
    	<div class="upd-form-search-result-summary">
        	Найдено 463 предложения.
        </div>
        <div class="upd-form-search-result-link">
        	<a href="#" class="upd-service">Постоянная ссылка</a> на эту страницу
        </div>
		<div class="upd-form-search-result-sort">
       		<div class="upd-form-search-result-sort-title">Сортировать по:</div>
            <!-- if ORDER DESC add 'upd-form-search-result-sort-desc' class -->
            <a href="#" class="upd-form-search-result-sort-item upd-form-search-result-sort-active">цене</a>
            <a href="#" class="upd-form-search-result-sort-item">площади</a>
        </div>
	    <div class="clear"></div>
    </div>
	
    <form>
	<div class="cat_info">

        <div class="l_col_s">

		<a href="/offers/eliteflat/details/1535">
	        <img src="http://www.kre.ru/files/photo_eliteflat_1535_main.jpg?anticache=6768" alt="">
        </a>
        <p class='upd-cat-phone-title'>Свяжитесь с нами:</p>
        <p class='cat_phone'>
            <span class='cp1'>(495) 956-77-99</span><span class='cp2'>(925) 517-43-46</span>
        </p>
		<div class='upd-cat-links'>
        	<a href="#">Оставить заявку</a>
            <br />
			<a href="#">Купить с помощью ипотеки</a>
        </div>
        </div>

        <div class="r_col_s">

		<div class="upd-lot-check">
            <div class="upd-form-checkbox">
            <input type="checkbox" name="lot_check" value="1" id="lot_check_1" /><label for="lot_check_1">Добавить в список</label>
            </div>
        </div>
        <span class="upd-lot">Лот 5725</span> &nbsp <span class="upd-service">Продажа элитных новостроек</span>
                
        <div class="upd-lot-title">
        	<h3><a href="#">Мосфильмовская ул., д.70</a></h3>
        </div>

        <div class="upd-lot-tags">
            <div class="upd-lot-tag-new"></div>
            <div class="upd-lot-tag-pricenew"></div>
        </div>
        <div class="upd-lot-info">
        	<a href="#" class="upd-service">ЖК "Воробьевы Горы"</a>
            <br />
        	<b>Район:</b> <a href="#" class="upd-service">Западный АО</a> &nbsp; <span class="upd-metro">Киевская</span>
        </div>

        <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
            <table class="table-content in_cat">
				<tr>
					<td>Площадь м&sup2;:</td>
					<td  class="tdrt">140</td>
				</tr>
				<tr class="upd-cat-info-all-odd">
					<td>Цена за м&sup2;:</td>
					<td class="tdrt">от 228 600 руб<br>
					до 5 000 344 345 руб
					</td>
					<td class="tdrt">от 28 600 $<br>
					до 500 344 345 $
					</td>
					<td class="tdrt">от 10 023 €<br>
					до 300 344 345 €
					</td>
				</tr>
				<tr>
					<td>Цена:</td>
					<td class="tdrt">от 2228 600 руб<br>
					до 53 000 344 345 руб
					</td>
					<td class="tdrt">от 283 600 $<br>
					до 5 300 344 345 $
					</td>
					<td class="tdrt">от 310 023 €<br>
					до 3 300 344 345 €
					</td>
				</tr>
            </table>
        </div></div>
        
        <p>К продаже предлагается квартира свободной планировки площадью 108,7 кв.м. Одно из самых привлекательных ценовых предложений в комплексе.
Квартал «Воробьевы Горы» построен в самой высокой точке столицы – более 300 метров над уровнем моря. Семь корпусов стоят на едином 5-уровневом стилобате с кровлей площадью около 5-ти гектаров.&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a>
        </p>

        </div>
    </div>
    
    <div class="separator upd-cat-info-separator"></div>
    
	<div class="cat_info">

        <div class="l_col_s">

		<a href="/offers/eliteflat/details/1535">
	        <img src="http://www.kre.ru/files/photo_eliteflat_1535_main.jpg?anticache=6768" alt="">
        </a>
        <p class='upd-cat-phone-title'>Свяжитесь с нами:</p>
        <p class='cat_phone'>
            <span class='cp1'>(495) 956-77-99</span><span class='cp2'>(925) 517-43-46</span>
        </p>
		<div class='upd-cat-links'>
        	<a href="#">Оставить заявку</a>
            <br />
			<a href="#">Купить с помощью ипотеки</a>
        </div>
        </div>

        <div class="r_col_s">

		<div class="upd-lot-check">
            <div class="upd-form-checkbox">
            <input type="checkbox" name="lot_check" value="1" id="lot_check_1" /><label for="lot_check_1">Добавить в список</label>
            </div>
        </div>
        <span class="upd-lot">Лот 5725</span> &nbsp <span class="upd-service">Продажа элитных новостроек</span>
                
        <div class="upd-lot-title">
        	<h3><a href="#">Мосфильмовская ул., д.70</a></h3>
        </div>

        <div class="upd-lot-tags">
            <div class="upd-lot-tag-new"></div>
            <div class="upd-lot-tag-pricenew"></div>
        </div>
        <div class="upd-lot-info">
        	<a href="#" class="upd-service">ЖК "Воробьевы Горы"</a>
            <br />
        	<b>Район:</b> <a href="#" class="upd-service">Западный АО</a> &nbsp; <span class="upd-metro">Киевская</span>
        </div>

        <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
            <table class="table-content in_cat">
				<tr>
					<td>Площадь м&sup2;:</td>
					<td  class="tdrt">140</td>
				</tr>
				<tr class="upd-cat-info-all-odd">
					<td>Цена за м&sup2;:</td>
					<td class="tdrt">от 228 600 руб<br>
					до 5 000 344 345 руб
					</td>
					<td class="tdrt">от 28 600 $<br>
					до 500 344 345 $
					</td>
					<td class="tdrt">от 10 023 €<br>
					до 300 344 345 €
					</td>
				</tr>
				<tr>
					<td>Цена:</td>
					<td class="tdrt">от 2228 600 руб<br>
					до 53 000 344 345 руб
					</td>
					<td class="tdrt">от 283 600 $<br>
					до 5 300 344 345 $
					</td>
					<td class="tdrt">от 310 023 €<br>
					до 3 300 344 345 €
					</td>
				</tr>
            </table>
        </div></div>
        
        <p>К продаже предлагается квартира свободной планировки площадью 108,7 кв.м. Одно из самых привлекательных ценовых предложений в комплексе.
Квартал «Воробьевы Горы» построен в самой высокой точке столицы – более 300 метров над уровнем моря. Семь корпусов стоят на едином 5-уровневом стилобате с кровлей площадью около 5-ти гектаров.&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a>
        </p>

        </div>
    </div>

    </form>
    
    <div class="separator"></div>
    
    <div class="upd-paginator">
    	<div class="upd-paginator-title">Страницы</div>
        <a href="#" class="upd-paginator-prev upd-paginator-inactive">предыдущая</a>
        <a href="#" class="upd-paginator-next">следующая</a>
        <div class="clear"></div>
        <div class="upd-paginator-pages">
        	<a href="#" class="upd-paginator-pages-active">1-50</a>
        	<a href="#">51-100</a>
        	<a href="#">101-150</a>
        	<a href="#">151-200</a>
        </div>
    </div>
    
</div></div>

</div>

<div class="clear"></div></div>
<div class="hide_block_bottom"></div>
<div id="footer">
<div style="float: left; margin-right:20px;">
	<img style="float:left;" src="main_files/contact0.gif" width="134" height="29" alt="Агентство «Контакт — Элитная Недвижимость»">
	<p>Москва, ул. Арбат, д. 13/36<br>Телефон: +7 (495) 956 77 99</p>   
</div>
<!-- UPD -->
<div class="footer-button">
    <div class="select select_btn select_left"><div class="select_r_bg">
        <a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Войти</a>
    </div></div>
          
</div>
<!-- /UPD -->
 
 
 
 <div id="fb-root" style="display:none !important"></div>
 


 
 
 
 
 
 
 
 
 
</div>








</div>
       
</div>
</body></html>
<!-- This document saved from http://www.kre.ru/ -->
