<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8">
	
	<meta name="robots" content="index,follow">
	<meta name="description" content="Продажа элитной недвижимости в Москве и Подмосковье. От роскошного пентхауса – до коттеджа в элитном поселке. Услуги для покупателя без комиссии.">
	<meta name="keywords" content>
	<meta name="yandex-verification" content="446d31d734e4f5eb">
	<link rel="stylesheet" href="main_files/content0.css" type="text/css" media="all">
	<link rel="stylesheet" href="main_files/main0000.css" type="text/css" media="all">
	<link rel="stylesheet" href="upd.css" type="text/css" media="all">
	<link rel="shortcut icon" href="main_files/favicon0.ico">
	<script src="main_files/prototyp.js" type="text/javascript"></script>
	<script src="main_files/scriptac.js" type="text/javascript"></script>
	<script src="main_files/main0000.js" type="text/javascript"></script>   
 	<script src="main_files/lots0000.js" type="text/javascript"></script>
 	<script src="main_files/common00.js" type="text/javascript"></script>  
	<script src="main_files/swfobjec.js" type="text/javascript"></script>
 	<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "/swf/expressInstall.swf");
	</script>  

    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="upd.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all"/>
	<![endif]-->
	<title>Элитная недвижимость Москвы| Агентство элитной недвижимости CONTACT Real Estate</title>

</head>
<body>
<div class="minwidth">
   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="header">
	<div id="top">
		<h1 class="top_logo">Агентство элитной недвижимости Contact Real Estate</h1>
		<strong>Времена меняются и мы меняемся вместе с ними</strong>
		<span>+7 (495) 956 77 99</span>
	</div>
	<div class="visual">
 	</div>
    <!-- UPD -->
    <div class="upd-menu">
        <ul class="upd-menu-box">
            <li class="upd-menu-item"><a href="#">О компании</a></li>
            <li class="upd-menu-item"><span>Услуги</span></li>
            <li class="upd-menu-item"><a href="#">Предложения</a></li>
            <li class="upd-menu-item"><a href="#">Аналитика</a></li>
            <li class="upd-menu-item"><a href="#">Полезные советы</a></li>
            <li class="upd-menu-item"><a href="#">Контакты</a></li>
            <li class="upd-menu-item"><a href="#">Карьера</a></li>
            <li class="upd-menu-item"><a href="#"><span class="upd-menu-item-request"></span>Оставить заявку</a></li>
        </ul>
    </div>
    <!-- /UPD -->
</div>
<div class="hide_block_top"></div>
<div class="page">
<div class="lside"><div class="padding">
	<h2 class="title_h2 h2_offers">Наши предложения</h2>
    <span class="upd-lside-title">Новые</span>
	<div class="separator"></div>
	<ul class="ul_list">
 		<li><a href="http://www.kre.ru/offers/eliteflat/" class="active">Элитные квартиры</a><span>460<span class="upd-lside-count">130</span></span></li>
        <li class="upd-ul-sublist">
            <ul>
            	<li><a href="#">Арбат</a><span>10<span class="upd-lside-count">1</span></span></li>
            	<li><a href="#">Патриаршие пруды</a><span>1<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Тверской</a><span>3<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Сретенка</a><span>7<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Чистые пруды</a><span>29<span class="upd-lside-count">3</span></span></li>
            	<li><a href="#">Таганское</a><span>45<span class="upd-lside-count">15</span></span></li>
            	<li><a href="#">Замоскворечье</a><span>24<span class="upd-lside-count">2</span></span></li>
            	<li class="upd-ul-sublist-more"><a href="#">еще</a></li>
            </ul>
        </li>
        <li><a href="http://www.kre.ru/offers/elitenew/">Элитные новостройки</a><span>74<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/penthouse/">Пентхаусы</a><span>51<span class="upd-lside-count">31</span></span></li>
        <li><a href="http://www.kre.ru/offers/flatrent/">Квартиры в аренду</a><span>596<span class="upd-lside-count">77</span></span></li>
        <li><a href="http://www.kre.ru/offers/outoftown/">Загородный дом, участок</a><span>887<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/cottage/">Коттеджи в аренду</a><span>38<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comsell/">Коммерческая недвижимость</a><span>418<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comrent/">Коммерческая недвижимость в аренду</a><span>275<span class="upd-lside-count"></span></span></li>
	</ul>

	<div class="catOrder" style="margin:40px 0;">
		<a href="/ordercatalog/"><img src="main_files/link.jpg" alt="Заказать каталог элитной недвижимости"></a>
	</div> 

    <H1 style="FONT-SIZE: 14px">Продажа элитных квартир в&nbsp;Москве</H1>
    <P style="FONT-SIZE: 14px">&nbsp;</P>
    <P align=justify>Что такое элитная недвижимость в Москве? В категорию элитной недвижимости входят как дореволюционные дома и особняки из старого жилого фонда Москвы, так и новые клубные дома в центре и современные жилые комплексы в престижных районах столицы. Агентство элитной недвижимости <STRONG>Contact Real Est</STRONG>ate специализируется на продаже элитной недвижимости в Москве. Специалисты компании <STRONG>Contact Real Estate</STRONG> помогут Вам купить квартиру в центре на самых выгодных для Вас условиях. </P>
    <P align=justify>Элитное жилье в центре Москвы имеет массу преимуществ. Здесь шумные центральные улицы пересекаются с тихими историческими переулками, а памятники культуры и архитектуры соседствуют с модными развлекательными клубами и ресторанами. Купить элитную квартиру на Остоженке, Пречистенке, Арбате или Патриарших прудах – престижно и выгодно. Элитные квартиры в центре Москвы&nbsp; - это современное и в высшей степени комфортное жилье. Это просторные квартиры с продуманной планировкой и качественной внутренней отделкой. Подъезды и придомовые территории оснащены системой видеонаблюдения и круглосуточной охраной. И что немаловажно для столицы, купив квартиру в центре Москвы, Вы сможете легко и быстро перемещаться по деловому центру города, не теряя время в ежедневных пробках.</P>
    
</div></div>
<div class="cside c_full"><div class="padding">
	<div class="upd-cside-path"><a href="#">Главная</a> <span>/</span> <a href="#">Предложения</a> <span>/</span> Элитные квартиры</div>
    <div class="separator"></div>
    <div id="content" class="content_full">
		<h1 class="upd-title-h1">ЖК "Золотые ключи - 1" / Минская ул., 1 АБ</h1>
        <div class="upd-links">
        	<span class="upd-links-item"><a href="#" class="upd-service upd-service-marker">Показать на карте</a></span>
            <span class="upd-links-item"><a href="#">Предложения в этом объекте (доме)</a></span>
        </div>
		<div class="cat_description">
			<div style="overflow:hidden;" id="hDesc">
			<P align=justify>Новый элитный жилой комплекс, расположенный на ул. Б.Якиманка со стороны набережной Москва-реки.</P>
			<P align=justify>Проект отражает принципиально новый подход к понятию «элитности» жилья и является абсолютно уникальным по сочетанию самых современных инженерных систем, технологий и материалов, используемых при строительстве; инфраструктуре жилого комплекса и неповторимым видовым характеристикам. Благодаря его расположению и архитектурному решению, из окон открывается панорамный вид на исторический центр Москвы и такие памятники культуры, как Кремль и Храм Христа Спасителя.</P>
			<P align=justify>Проект отражает принципиально новый подход к понятию «элитности» жилья и является абсолютно уникальным по сочетанию самых современных инженерных систем, технологий и материалов, используемых при строительстве; инфраструктуре жилого комплекса и неповторимым видовым характеристикам. Благодаря его расположению и архитектурному решению, из окон открывается панорамный вид на исторический центр Москвы и такие памятники культуры, как Кремль и Храм Христа Спасителя.</P>								
			</div>   
			<p id="hDescHide"><a href="#">Далее</a> <span>></span></p>	   	
		</div>
		<div class="cat_info">

			<div class="l_col">

			<img src="http://www.kre.ru/files/photo_eliteflat_1514_main_b.jpg?anticache=777061" alt="Казачий 2-й пер., д. 6 ЖК &quot;Посольское Подворье&quot;" width="300" height="228">
            <p class='upd-cat-phone-title'>Свяжитесь с нами:</p>
			<p class='cat_phone'>
				<span class='cp1'>(495) 956-77-99</span><span class='cp2'>(925) 517-43-46</span>
            </p>
            

      		<h3 class="cat_type">Фасад</h3>
			<table class="cat_gallery">
    		<tr><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_12.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_12_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_14.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_14_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/></tr>
			</table>
            <a href="#" class="upd-cat-gallery-control">Все изображения (30)</a>
            <div class="upd-cat-gallery-more" style="display: none">
            <table class="cat_gallery">
    		<tr><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_12.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_12_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_14.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_14_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/></tr>	
            </table>
            </div>

<h3 class="cat_type">Холл / Бассейн</h3>
			<table class="cat_gallery">
    		<tr><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_1.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_1_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_2.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_2_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/></tr>
			</table>
            <a href="#" class="upd-cat-gallery-control">Все изображения (30)</a>
            <div class="upd-cat-gallery-more" style="display: none">
			<table class="cat_gallery">
    		<tr><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_1.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_1_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/><th>
				<a rel="gal" title="" href="http://www.kre.ru/script/prepareimage.php?image=/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_2.jpg">
				
				<img width="140" height="100" alt="" src="http://www.kre.ru/files/eliteflat/eliteflat_1500_1599/photo_eliteflat_1514_2_s.jpg"/><div class="img_desc"></div></a>
				</th>
				<td/></tr>
			</table>
            </div>


			</div>

			<div class="r_col"><div class="upd-rcol-box">

			<div class="upd-lot-tags">
				<div class="upd-lot-tag-new"></div>
				<div class="upd-lot-tag-pricenew"></div>
            </div>
			<span class="upd-lot">Лот 5725</span> &nbsp <span class="upd-service">Продажа элитных новостроек</span>

    		<p><b>Район:</b> <a href="#" class="upd-service">Якиманка</a> &nbsp; <span class="upd-metro">Киевская</span></p>

    		<div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
				<table class="table-content in_cat">
				<tr>
					<td>Площади</td>
					<td>138.1м&sup2;</td>
				</tr>
				</table>
			</div></div>
            
        	<h3 class="cat_type">Описание объекта</h3>
            <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
				<table class="table-content in_cat">
		    		<tr>
						<td>Тип дома</td>
						<td>Современный дом</td>
					</tr>
					<tr>
						<td>Год постройки</td>
						<td>2006</td>
					</tr>
					<tr>
						<td>Количество этажей</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Количество квартир</td>
						<td>25</td>
					</tr>
					<tr>
						<td>Высота потолков</td>
						<td>3,10м</td>
					</tr>
					<tr>
						<td>Конструкция дома</td>
						<td>монолит-кирпич</td>
					</tr>
					<tr>
						<td>Паркинг / количество машиномест</td>
						<td>подземный</td>
					</tr>
					<tr>
						<td>Отделка площадей общего пользования</td>
						<td>Эксклюзивная отделка с применением натурального камня, дерева</td>
					</tr>

				</table>
			</div></div>

			<h3 class="cat_type">Технические параметры</h3>
            <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
				<table class="table-content in_cat">
		    		<tr>
						<td>Вентиляция</td>
						<td>Приточно-вытяжная</td>
					</tr>
					<tr>
						<td>Кондиционирование</td>
						<td>Индивидуальное</td>
					</tr>
					<tr>
						<td>Окна</td>
						<td>Тройные стеклопакеты из натурального дерева</td>
					</tr>

				</table>
			</div></div>

			<h3 class="cat_type">Инфраструктура</h3>
            <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
				<table class="table-content in_cat">
		    		<tr>
						<td>Охрана и безопасность</td>
						<td>Круглосуточная охрана</td>
					</tr>
					<tr>
						<td>Дополнительно</td>
						<td>Огороженная территория, двор с детской площадкой</td>
					</tr>

				</table>
			</div></div>

			<h3 class="cat_type">Описание квартиры</h3>
            <div class="upd-table-content-wrap"><div class="upd-table-content-wrap-box">
				<table class="table-content in_cat">
		    		<tr>
						<td>Этаж</td>
						<td>4</td>
					</tr>
					<tr>
						<td>Количество санузлов</td>
						<td>2</td>
					</tr>
					<tr>
						<td>Отделка</td>
						<td>с отделкой</td>
					</tr>
					<tr>
						<td>Лоджии и балконы</td>
						<td>Собственный выход на эксплуатируемую кровлю</td>
					</tr>

				</table>
			</div></div>

			<div class="upd-cat-buttons">
            	<div class="select select_btn select_left"><div class="select_r_bg">
                	<a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Отправить заявку</a>
           		</div></div>
            	<div class="select select_btn select_left upd-service-btn"><div class="select_r_bg">
                	<a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Отправить заявку</a>
           		</div></div>
            </div>

			<div class="clear"></div>
            
			<ul class="upd-cat-action">
				<li><a href="#"><img src="pics/upd-icon-list.png" alt="" />Другие предложения в этом доме</a></li>
				<li><a href="#"><img src="pics/upd-icon-pics.png" alt="" />Другие предложения в этом бюджете</a></li>
				<li><a href="#"><img src="pics/upd-icon-map.png" alt="" />Другие предложения в этом районе</a></li>
			</ul>
			<ul class="upd-cat-action">
				<li><a href="#"><img src="pics/upd-icon-search.png" alt="" />Поиск по параметрам</a></li>
				<li><a href="#"><img src="pics/upd-icon-view.png" alt="" />Создать презентацию</a></li>
			</ul>

			</div></div>
        
        <div class="clear"></div>
        
        <h2>Предложения в ЖК "Коперник" / Якиманка Большая, вл. 22</h2>
        <h3>Продажа квартир</h3>

        <table class="upd-cat-info-all">
            <tr>
                <th>Лот</th>
                <th>Комнат</th>
                <th>Площадь, м2</th>
                <th>Этаж</th>
                <th>Цена за м2</th>
                <th>Общая цена</th>
                <th>Отделка</th>
            </tr>
            <tr>
                <td><a href="#">567</a></td>
                <td>5</td>
                <td>234,5</td>
                <td>12</td>
                <td class="upd-cat-info-all-price">
                	228 600 р<br />
                    <b>18 675 $</b><br />
                    14 678 €
                </td>
                <td class="upd-cat-info-all-price">
                	55 678 980 р<br />
                    <b>1 908 679$</b><br /> 
                    1 534 787 €
                </td>
                <td>Качественные материалы импортного производства</td>
            </tr>
            <tr>
                <td><a href="#">501</a></td>
                <td>2</td>
                <td>134,5</td>
                <td>18</td>
                <td class="upd-cat-info-all-price">
                	228 600 р<br />
                    <b>18 675 $</b><br />
                    14 678 €
                </td>
                <td class="upd-cat-info-all-price">
                	55 678 980 р<br />
                    <b>1 908 679$</b><br /> 
                    1 534 787 €
                </td>
                <td>Качественные материалы импортного производства</td>
            </tr>
        </table>
        
        <p><a href="#">Все предложения продажи квартир в этом доме</a></p>
        
        <h3>Аренда квартир</h3>

        <table class="upd-cat-info-all">
            <tr>
                <th>Лот</th>
                <th>Комнат</th>
                <th>Площадь, м2</th>
                <th>Этаж</th>
                <th>Цена за м2</th>
                <th>Общая цена</th>
                <th>Отделка</th>
            </tr>
            <tr>
                <td><a href="#">567</a></td>
                <td>5</td>
                <td>234,5</td>
                <td>12</td>
                <td class="upd-cat-info-all-price">
                	228 600 р<br />
                    <b>18 675 $</b><br />
                    14 678 €
                </td>
                <td class="upd-cat-info-all-price">
                	55 678 980 р<br />
                    <b>1 908 679$</b><br /> 
                    1 534 787 €
                </td>
                <td>Качественные материалы импортного производства</td>
            </tr>
            <tr>
                <td><a href="#">501</a></td>
                <td>2</td>
                <td>134,5</td>
                <td>18</td>
                <td class="upd-cat-info-all-price">
                	228 600 р<br />
                    <b>18 675 $</b><br />
                    14 678 €
                </td>
                <td class="upd-cat-info-all-price">
                	55 678 980 р<br />
                    <b>1 908 679$</b><br /> 
                    1 534 787 €
                </td>
                <td>Качественные материалы импортного производства</td>
            </tr>
        </table>
        
        <p><a href="#">Все предложения аренды квартир в этом доме</a></p>
        
    </div>
</div></div>

</div>

<div class="clear"></div></div>
<div class="hide_block_bottom"></div>
<div id="footer">
<div style="float: left; margin-right:20px;">
	<img style="float:left;" src="main_files/contact0.gif" width="134" height="29" alt="Агентство «Контакт — Элитная Недвижимость»">
	<p>Москва, ул. Арбат, д. 13/36<br>Телефон: +7 (495) 956 77 99</p>   
</div>
<!-- UPD -->
<div class="footer-button">
    <div class="select select_btn select_left"><div class="select_r_bg">
        <a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Войти</a>
    </div></div>
          
</div>
<!-- /UPD -->
 
 
 
 <div id="fb-root" style="display:none !important"></div>
 
<script>
  jQuery(document).ready(function(){
  	jQuery('.cat_phone').after('<div style="margin-top:10px"><fb:like send="true"   layout="button_count" width="300" show_faces="false"></fb:like></div>');
  });
	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/ru_RU/all.js#appId=247617008614908&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


 
 
 
 
 
 
 
 
 
</div>








</div>
       
</div>
</body></html>
<!-- This document saved from http://www.kre.ru/ -->
