<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8">
	
	<meta name="robots" content="index,follow">
	<meta name="description" content="Продажа элитной недвижимости в Москве и Подмосковье. От роскошного пентхауса – до коттеджа в элитном поселке. Услуги для покупателя без комиссии.">
	<meta name="keywords" content>
	<meta name="yandex-verification" content="446d31d734e4f5eb">
	<link rel="stylesheet" href="main_files/content0.css" type="text/css" media="all">
	<link rel="stylesheet" href="main_files/main0000.css" type="text/css" media="all">
	<link rel="stylesheet" href="upd.css" type="text/css" media="all">
	<link rel="shortcut icon" href="main_files/favicon0.ico">
	<script src="main_files/prototyp.js" type="text/javascript"></script>
	<script src="main_files/scriptac.js" type="text/javascript"></script>
	<script src="main_files/main0000.js" type="text/javascript"></script>   
 	<script src="main_files/lots0000.js" type="text/javascript"></script>
 	<script src="main_files/common00.js" type="text/javascript"></script>  
	<script src="main_files/swfobjec.js" type="text/javascript"></script>
 	<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "/swf/expressInstall.swf");
	</script>  

    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="upd.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all"/>
	<![endif]-->
	<title>Элитная недвижимость Москвы| Агентство элитной недвижимости CONTACT Real Estate</title>

</head>
<body>
<div class="minwidth">
   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="header">
	<div id="top">
		<h1 class="top_logo">Агентство элитной недвижимости Contact Real Estate</h1>
		<strong>Времена меняются и мы меняемся вместе с ними</strong>
		<span>+7 (495) 956 77 99</span>
	</div>
	<div class="visual">
 	</div>
    <!-- UPD -->
    <div class="upd-menu">
        <ul class="upd-menu-box">
            <li class="upd-menu-item"><a href="#">О компании</a></li>
            <li class="upd-menu-item"><span>Услуги</span></li>
            <li class="upd-menu-item"><a href="#">Предложения</a></li>
            <li class="upd-menu-item"><a href="#">Аналитика</a></li>
            <li class="upd-menu-item"><a href="#">Полезные советы</a></li>
            <li class="upd-menu-item"><a href="#">Контакты</a></li>
            <li class="upd-menu-item"><a href="#">Карьера</a></li>
            <li class="upd-menu-item"><a href="#"><span class="upd-menu-item-request"></span>Оставить заявку</a></li>
        </ul>
    </div>
    <!-- /UPD -->
</div>
<div class="hide_block_top"></div>
<div class="page">
<div class="lside"><div class="padding">
	<h2 class="title_h2 h2_offers">Наши предложения</h2>
    <span class="upd-lside-title">Новые</span>
	<div class="separator"></div>
	<ul class="ul_list">
 		<li><a href="http://www.kre.ru/offers/eliteflat/" class="active">Элитные квартиры</a><span>460<span class="upd-lside-count">130</span></span></li>
        <li class="upd-ul-sublist">
            <ul>
            	<li><a href="#">Арбат</a><span>10<span class="upd-lside-count">1</span></span></li>
            	<li><a href="#">Патриаршие пруды</a><span>1<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Тверской</a><span>3<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Сретенка</a><span>7<span class="upd-lside-count"></span></span></li>
            	<li><a href="#">Чистые пруды</a><span>29<span class="upd-lside-count">3</span></span></li>
            	<li><a href="#">Таганское</a><span>45<span class="upd-lside-count">15</span></span></li>
            	<li><a href="#">Замоскворечье</a><span>24<span class="upd-lside-count">2</span></span></li>
            	<li class="upd-ul-sublist-more"><a href="#">еще</a></li>
            </ul>
        </li>
        <li><a href="http://www.kre.ru/offers/elitenew/">Элитные новостройки</a><span>74<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/penthouse/">Пентхаусы</a><span>51<span class="upd-lside-count">31</span></span></li>
        <li><a href="http://www.kre.ru/offers/flatrent/">Квартиры в аренду</a><span>596<span class="upd-lside-count">77</span></span></li>
        <li><a href="http://www.kre.ru/offers/outoftown/">Загородный дом, участок</a><span>887<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/cottage/">Коттеджи в аренду</a><span>38<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comsell/">Коммерческая недвижимость</a><span>418<span class="upd-lside-count"></span></span></li>
        <li><a href="http://www.kre.ru/offers/comrent/">Коммерческая недвижимость в аренду</a><span>275<span class="upd-lside-count"></span></span></li>
	</ul>

	<div class="catOrder" style="margin:40px 0;">
		<a href="/ordercatalog/"><img src="main_files/link.jpg" alt="Заказать каталог элитной недвижимости"></a>
	</div> 

    <H1 style="FONT-SIZE: 14px">Продажа элитных квартир в&nbsp;Москве</H1>
    <P style="FONT-SIZE: 14px">&nbsp;</P>
    <P>Что такое элитная недвижимость в Москве? В категорию элитной недвижимости входят как дореволюционные дома и особняки из старого жилого фонда Москвы, так и новые клубные дома в центре и современные жилые комплексы в престижных районах столицы. Агентство элитной недвижимости <STRONG>Contact Real Est</STRONG>ate специализируется на продаже элитной недвижимости в Москве. Специалисты компании <STRONG>Contact Real Estate</STRONG> помогут Вам купить квартиру в центре на самых выгодных для Вас условиях. </P>
    <P>Элитное жилье в центре Москвы имеет массу преимуществ. Здесь шумные центральные улицы пересекаются с тихими историческими переулками, а памятники культуры и архитектуры соседствуют с модными развлекательными клубами и ресторанами. Купить элитную квартиру на Остоженке, Пречистенке, Арбате или Патриарших прудах – престижно и выгодно. Элитные квартиры в центре Москвы&nbsp; - это современное и в высшей степени комфортное жилье. Это просторные квартиры с продуманной планировкой и качественной внутренней отделкой. Подъезды и придомовые территории оснащены системой видеонаблюдения и круглосуточной охраной. И что немаловажно для столицы, купив квартиру в центре Москвы, Вы сможете легко и быстро перемещаться по деловому центру города, не теряя время в ежедневных пробках.</P>
    
</div></div>
<div class="cside c_full"><div class="padding">
	<p class="print"><a href="javascript:offprint();">Распечатать</a></p>
	<div class="upd-cside-path"><a href="#">Главная</a> <span>/</span> <a href="#">Предложения</a> <span>/</span> Элитные квартиры</div>
    <div class="separator"></div>
    <div id="content" class="content_full cat_root">
		<table class="upd-table-cat">
            <tr>
				<td colspan="2" class="upd-table-cat-gap">&nbsp;</td>
			</tr>
  			<tr>
				<td class="upd-table-cat-info">
					<h3><a href="/offers/eliteflat/">Элитные квартиры</a></h3>
					<p>Предложений: 458</p>
					<p class="upd-table-cat-info-desc">Раздел содержит актуальную базу данных отдельных квартир с отделкой и без нее в построенных домах. Реальные цены, фото, планировки, подробное описание.</p>
				</td>
				<td class="upd-table-cat-info">
					<h3><a href="/offers/elitenew/">Элитные новостройки</a></h3>
					<p>Предложений: 74</p>
					<p class="upd-table-cat-info-desc">Раздел содержит актуальную базу данных строящихся элитных домов от московских застройщиков, и отдельные квартиры от частных инвесторов. Фото, планировки, подробное описание. Цены застройщиков и инвесторов.</p>
				</td>
			</tr>
			<tr>
				<td class="upd-table-cat-link">
					<p><a href="/offers/eliteflat/details/1135/"><img src="http://www.kre.ru/files/photo_eliteflat_1135_main_b.jpg" width="300" height="228" alt="Хилков пер., д.1. ЖК «Остоженка Парк Палас»"/></a></p>
					<h3><a href="/offers/eliteflat/details/1135/">ЖК «Остоженка Парк Палас» / Хилков пер., д.1.</a></h3>
					<P>В новом жилом комплексе Парк Палас предлагается квартира&nbsp;с отделкой площадью 205 кв.м, расположенная на 3м этаже. Прекрасные виды на 2 стороны света – в сторону Зачатьевского монастыря и на Турчанинов переулок. Собственность!&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a></P></td>
				<td class="upd-table-cat-link">
					<p class="upd-table-cat-link"><a href="/offers/elitenew/details/426/"><img src="http://www.kre.ru/files/photo_elitenew_426_main_b.jpg" width="300" height="228" alt="Минская ул., корп.1-26. Поселок класса De luxe "Снегири Эко""/></a></p>
					<h3><a href="/offers/elitenew/details/426/">Поселок класса De luxe "Снегири Эко" / Минская ул., корп.1-26.</a></h3>
					<P>Поселок на западе Москвы в 5 мин. от центра, в одном из самых экологически чистых р-ов, на берегу озера, рядом с Парком Победы и природным заказником «Долина р.Сетунь». <B>Беспроцентная рассрочка на весь период строительства!&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a></B></P>
				</td>
			</tr>
            <tr>
				<td colspan="2" class="upd-table-cat-gap">&nbsp;</td>
			</tr>
			<tr>
				<td class="upd-table-cat-info">
					<h3><a href="/offers/penthouse/">Пентхаусы</a></h3>
					<p>Предложений: 51</p>
					<p class="upd-table-cat-info-desc">Раздел содержит актуальную базу пентхаусов. Реальные цены, фото, планировки, подробное описание.</p>
				</td>
				<td class="upd-table-cat-info">
					<h3><a href="/offers/flatrent/">Квартиры в аренду</a></h3>
					<p>Предложений: 598</p>
					<p class="upd-table-cat-info-desc">Раздел содержит актуальную базу данных элитных квартир с отделкой и мебелью. Фото, планировки, подробное описание. Арендные ставки от 3000 долларов в месяц.</p>
				</td>
			</tr>
			<tr>
				<td class="upd-table-cat-link">
					<p><a href="/offers/penthouse/details/123/"><img src="http://www.kre.ru/files/photo_penthouse_123_main_b.jpg" width="300" height="228" alt="Бутиковский пер., д. 5"/></a></p>
					<h3><a href="/offers/penthouse/details/123/">Бутиковский пер., д. 5</a></h3>
					<P>Предлагается двухуровневый&nbsp;пентхаус площадью 430,9 кв.м. с террасой (свободная планировка, без отделки). К квартире также предлагаются 2 машино-места в подземном паркинге.&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a></P>
				</td>
				<td class="upd-table-cat-link">
					<p><a href="/offers/flatrent/details/855/"><img src="http://www.kre.ru/files/photo_flatrent_855_main_b.jpg" width="300" height="228" alt="Бутиковский пер."/></a></p>
					<h3><a href="/offers/flatrent/details/855/">Бутиковский пер.</a></h3>
					<P>В одном из лучших домов Золотой Мили предлагается полностью меблированная и готовая к проживанию двухуровневая квартира. Ремонт выполнен в классическом стиле.&nbsp;Выход на 2 террасы. В доме фитнесс и бассейн.&nbsp;<a href="#" class="upd-pub-more"><img src="pics/upd-more.gif" alt=""></a></P>
				</td>
			</tr>
		</table>
        
	</div>
    
</div></div>


<div class="clear"></div></div>
<div class="hide_block_bottom"></div>
<div id="footer">
<div style="float: left; margin-right:20px;">
	<img style="float:left;" src="main_files/contact0.gif" width="134" height="29" alt="Агентство «Контакт — Элитная Недвижимость»">
	<p>Москва, ул. Арбат, д. 13/36<br>Телефон: +7 (495) 956 77 99</p>   
</div>
<!-- UPD -->
<div class="footer-button">
    <div class="select select_btn select_left"><div class="select_r_bg">
        <a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Войти</a>
    </div></div>
          
</div>
<!-- /UPD -->
 
 
 
 <div id="fb-root" style="display:none !important"></div>
 


 
 
 
 
 
 
 
 
 
</div>








</div>
       
</div>
</body></html>
<!-- This document saved from http://www.kre.ru/ -->
