<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru-RU">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8">
	
	<meta name="robots" content="index,follow">
	<meta name="description" content="Продажа элитной недвижимости в Москве и Подмосковье. От роскошного пентхауса – до коттеджа в элитном поселке. Услуги для покупателя без комиссии.">
	<meta name="keywords" content>
	<meta name="yandex-verification" content="446d31d734e4f5eb">
	<link rel="stylesheet" href="main_files/content0.css" type="text/css" media="all">
	<link rel="stylesheet" href="main_files/main0000.css" type="text/css" media="all">
	<link rel="stylesheet" href="upd.css" type="text/css" media="all">
	<link rel="shortcut icon" href="main_files/favicon0.ico">
	<script src="main_files/prototyp.js" type="text/javascript"></script>
	<script src="main_files/scriptac.js" type="text/javascript"></script>
	<script src="main_files/main0000.js" type="text/javascript"></script>   
 	<script src="main_files/lots0000.js" type="text/javascript"></script>
 	<script src="main_files/common00.js" type="text/javascript"></script>  
	<script src="main_files/swfobjec.js" type="text/javascript"></script>
 	<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "/swf/expressInstall.swf");
	</script>  

    <script src="jquery.min.js" type="text/javascript"></script>
    <script src="upd.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all"/>
	<![endif]-->
	<title>Элитная недвижимость Москвы| Агентство элитной недвижимости CONTACT Real Estate</title>

</head>
<body>
<div class="minwidth">
   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="header">
	<div id="top">
		<h1 class="top_logo">Агентство элитной недвижимости Contact Real Estate</h1>
		<strong>Времена меняются и мы меняемся вместе с ними</strong>
		<span>+7 (495) 956 77 99</span>
	</div>
	<div class="visual">
 	</div>
    <!-- UPD -->
    <div class="upd-menu">
        <ul class="upd-menu-box">
            <li class="upd-menu-item"><a href="#">О компании</a></li>
            <li class="upd-menu-item"><span>Услуги</span></li>
            <li class="upd-menu-item"><a href="#">Предложения</a></li>
            <li class="upd-menu-item"><a href="#">Аналитика</a></li>
            <li class="upd-menu-item"><a href="#">Полезные советы</a></li>
            <li class="upd-menu-item"><a href="#">Контакты</a></li>
            <li class="upd-menu-item"><a href="#">Карьера</a></li>
            <li class="upd-menu-item"><a href="#"><span class="upd-menu-item-request"></span>Оставить заявку</a></li>
        </ul>
    </div>
    <!-- /UPD -->
</div>
<div class="hide_block_top"></div>
<div class="page">
<div class="lside"><div class="padding">
	<!-- UPD -->
    <h2 class="title_h2 upd-title-h2">Оставить заявку</h2>
    <!-- /UPD -->
	<div class="separator"></div>
	<div class="catOrder" style="margin:40px 0;">
		<a href="/ordercatalog/"><img src="main_files/link.jpg" alt="Заказать каталог элитной недвижимости"></a>
	</div> 
</div></div>
<div class="cside c_full"><div class="padding">
	<div class="upd-cside-path"><a href="#">Главная</a> <span>/</span> Предложения</div>
    <div class="separator"></div>
    <div id="content" class="content_full">
		<h1 class="upd-title-h1">Заявка</h1>
        <p>
    	Ваша заявка была успешно отправлена.
        </p>
        <p>
        Наши менеджеры обязательно ознакомятся с ней<br />
        и свяжутся с вами в самое ближайшее время.
        </p>
        <p>
        Вы можете <a href="#">вернуться на главную</a><br />
        и ознакомиться с другими предложениями нашей компании.
        </p>
    </div>
</div></div>

</div>

<div class="clear"></div></div>
<div class="hide_block_bottom"></div>
<div id="footer">
<div style="float: left; margin-right:20px;">
	<img style="float:left;" src="main_files/contact0.gif" width="134" height="29" alt="Агентство «Контакт — Элитная Недвижимость»">
	<p>Москва, ул. Арбат, д. 13/36<br>Телефон: +7 (495) 956 77 99</p>   
</div>
<!-- UPD -->
<div class="footer-button">
    <div class="select select_btn select_left"><div class="select_r_bg">
        <a href="http://www.kre.ru/#" onclick="document.iwant.submit();">Войти</a>
    </div></div>
          
</div>
<!-- /UPD -->
 
 
 
 <div id="fb-root" style="display:none !important"></div>
 
<script>
  jQuery(document).ready(function(){
  	jQuery('.cat_phone').after('<div style="margin-top:10px"><fb:like send="true"   layout="button_count" width="300" show_faces="false"></fb:like></div>');
  });
	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/ru_RU/all.js#appId=247617008614908&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


 
 
 
 
 
 
 
 
 
</div>








</div>
       
</div>
</body></html>
<!-- This document saved from http://www.kre.ru/ -->
